<html>
<title>
  view tasks
</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<% if(request ==='update') {%>
  <script src="/assets/updatelist.js"></script>
  <% } else { %>
  <script src="/assets/deletetask.js"></script>
<% } %>
  <% include partials/navbar.ejs %>
<form>
  <% prolist.task.sort((c,b) => (c.date > b.date) ? 1 : ((b.date > c.date) ? -1 : 0)); %>
  <% for(var i=0;i<prolist.task.length;i++){ %>
    <% var date = new Date(); %>
    <% const monthNames = ["January", "February", "March", "April", "May", "June","July", "August", "September", "October", "November", "December"]; %>
    <input type="radio" class="updatetask" name="updatetask"  value=<%= prolist.task[i].item%>>
    <% if(date > (prolist.task[i].date)) {%>
    <p style="color:red;"><%= prolist.task[i].item %></p>
    <h4 style="color:red;">-- due date <%= prolist.task[i].date.getDate() %>th of <%= monthNames[prolist.task[i].date.getMonth()] %>,<%= prolist.task[i].date.getFullYear() %></h4>
    <% } else{%>
      <p style="color:green;"><%= prolist.task[i].item %></p>
      <h4 style="color:green;">-- due date <%= prolist.task[i].date.getDate() %>th of <%= monthNames[prolist.task[i].date.getMonth()] %>,<%= prolist.task[i].date.getFullYear() %></h4>
    <% } %>
  <% } %>
  <% if(request ==='update') {%>
    <button type="submit">update task</button>
    <% } else { %>
    <button type="submit">delete task</button>
  <% } %>
</form>
</html>
