<html>
<title>
  view tasks
</title>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<% if(request ==='update') {%>
  <script src="/assets/updatelist.js"></script>
  <% } else { %>
  <script src="/assets/deletetask.js"></script>
<% } %>
<% include partials/navbar.ejs %>
<body>
  <%if(prolist == undefined || prolist.length==0){%>
    <h3>you didnt assign any quizzes or assignments </h3>
  <% }else{%>
    <form>
    <ul>
      <% for(var k=0;k<prolist.task.length;k++) { %>
      <fieldset>
        <legend> <h1><%= prolist.task[k].section %> --> <%= prolist.task[k].subject %></h1> </legend>
        <% prolist.task[k].a.sort((x,y) => (x.date > y.date) ? 1 : ((y.date > x.date) ? -1 : 0)); %>
        <% const monthNames = ["January", "February", "March", "April", "May", "June","July", "August", "September", "October", "November", "December"]; %>
        <% for(var i=0;i<prolist.task[k].a.length;i++){ %>
          <% var date = new Date(); %>
          <% var a=JSON.stringify(prolist.task[k].a[i]); %>
          <input type="radio" class="updatetask" name="updatetask"  value=<%= a %>>
            <% if(date > (prolist.task[k].a[i].date)) {%>
            <p style="color:red;"><%= prolist.task[k].a[i].item %></p>
            <h4 style="color:red;">-- due date <%= prolist.task[k].a[i].date.getDate() %>th of <%= monthNames[prolist.task[k].a[i].date.getMonth()] %>,<%= prolist.task[k].a[i].date.getFullYear() %></h4>
            <% } else{%>
              <p style="color:green;"><%= prolist.task[k].a[i].item %></p>
              <h4 style="color:green;">-- due date <%= prolist.task[k].a[i].date.getDate() %>th of <%= monthNames[prolist.task[k].a[i].date.getMonth()] %>,<%= prolist.task[k].a[i].date.getFullYear() %></h4>
            <% } %>
          <br>
        <% } %>
        <% if(request ==='update') {%>
          <button type="submit">update task</button>
          <% } else { %>
          <button type="submit">delete task</button>
        <% } %>
      </fieldset>
        <br>
      <% } %>
    </ul>
    </form>
  <%}%>
</body>
</html>
